Source: ecto-amoeba
Priority: extra
Maintainer: Ethan Rublee <erublee@willowgarage.com>
Build-Depends: debhelper,
    cmake (>= 2.8),
    libboost-python-dev | libboost-python1.40-dev,
    libboost-filesystem-dev | libboost-filesystem1.40-dev,
    libboost-system-dev | libboost-system1.40-dev,
    libboost-thread-dev | libboost-thread1.40-dev,
    libboost-regex-dev | libboost-regex1.40-dev,
    python-dev,
    python-argparse,
    libgtest-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://ecto.willowgarage.com/
Vcs-Git: git://github.com/plasmodic/ecto.git
Vcs-Browser: https://github.com/plasmodic/ecto

Package: ecto-amoeba
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    python-argparse
Description: ecto-amoeba
    ecto is a dynamically configurable Directed Acyclic processing Graph framework.
    These are the development files for ecto.

