Source: ecto-amoeba
Priority: extra
Maintainer: Ethan Rublee <erublee@willowgarage.com>
Build-Depends: debhelper (>=7.0.50),
    cmake (>= 2.8),
    libboost-python-dev,
    libboost-filesystem-dev,
    libboost-system-dev,
    libboost-thread-dev,
    libboost-regex-dev,
    python-argparse
Standards-Version: 3.9.1
Section: libs
Homepage: http://ecto.willowgarage.com/
Vcs-Git: git://github.com/plasmodic/ecto.git
Vcs-Browser: https://github.com/plasmodic/ecto

Package: ecto-amoeba
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ecto-amoeba
    ecto is a dynamically configurable Directed Acyclic processing Graph framework.
    These are the development files for ecto.

